* {
	padding: 0;
	margin: 0;
}

body {
  background-color: transparent;
  text-align: center;
  padding: 20px 0;
}

.tile {
	display: inline-block;
	width: 370px;
	height: 370px;
	margin: auto;
	background: no-repeat center;
	background-size: cover;
	margin-left: 4px;
	margin-bottom: 4px;
	background-color: #FFF;
  transition: width 0.2s, height 0.5s;
  text-align: left;
  overflow: hidden;
}

body.small-icons .tile {
  width:  232px;
  height: 232px;
}

.tile .app-label {
  width: 280px;
  height: 86px;
  padding-left: 15px;
  display:block;
  color: #fff;
  font-size: 45px;
  line-height: 86px;
  background-image: url('/style/img/label.png');
  background-repeat: repeat-x;
  text-transform: capitalize;
}

body.small-icons .tile .app-label{
  font-size: 40px;
}

.page {
  width: 100%;
  height: 100%;
  display: block;
}
