* {
  padding: 0;
  margin: 0;
}

body {
  background-color: transparent;
  text-align: center;
  padding: 10px 0;
  overflow-x: hidden;
}

body.active,
body.noscroll {
  overflow-y: hidden;
}

.tile {
  display: inline-block;
  width: calc(50% - 8px);
  margin: auto;
  background: no-repeat center;
  background-size: cover;
  margin-left: 4px;
  margin-bottom: 4px;
  background-color: #FFF;
  transition: width 0.5s, height 0.5s, transform 0.5s;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.tile:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.notification {
  width: 60px;
  height: 60px;
  background-color: #F6532C;
  opacity: 0.9;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  position: absolute;
  bottom: 0;
  animation: notify 15s linear 0s infinite;
}

@keyframes notify {
  0% { transform: scale(1); }
  2% { transform: scale(1.2); }
  4% { transform: scale(0.8); }
  6% { transform: scale(1.2); }
  8% { transform: scale(0.8); }
  10% { transform: scale(1); }
  100% { transform: scale(1); }
}

#navigation {
  width: 100%;
  height: 75px;
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 999999999;
  transform: translateY(-80px);
  transition: transform 0.5s;
  pointer-event: none;
}

#navigation.shown {
  transform: translateY(0);
}

#navigation span {
  margin-top: 5px;
  width: 50%; 
  font-size: 30px;
  line-height: 70px;
  display:block;
  float:left;
  color: #fff;
  border-top: 1px #F6532C solid;
  transition: border-top 0.5;
}

#navigation span.active {
  border-top: 5px #F6532C solid;
  font-weight: bold;
  line-height: 60px;
}

#big-active-tile {
  width: 374px;
  height: 280px;
  position: fixed;
  top: 5px;
  left: 10px;
  z-index: 500;
  display: none;
  background: no-repeat center;
  background-size: cover;
  overflow-y: scroll;
}

#big-active-tile .msg {
  text-align: left;
  width: 60%;
  font-size: 18px;
  padding: 10px;
  margin: 5px 0;
  color: #fff;
  opacity: 0.8;
  word-wrap: break-word;
}

#big-active-tile .msg:last-child {
  margin-bottom: 50px;
}

#big-active-tile .msg.incoming {
  background-color: #F6532C;
  float: right;
}

#big-active-tile .msg.outgoing {
  background-image: url('/style/img/trans-pix.png');
  float: left;
}

.small-icons .tile {
  width: calc(33% - 12px);
}

.small-icons .tile .app-label{
  width: 115px;
}

.app-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 135px;
  height: 35px;
  padding-left: 5px;
  display:block;
  text-align: left;
  color: #fff;
  font-size: 22px;
  line-height: 35px;
  background-image: url('/style/img/label.png');
  background-repeat: repeat-x;
  background-size: 100%;
  text-transform: capitalize;
}

.small-icons .tile .app-label{
  font-size: 17px;
}

.page {
  width: 100%;
  height: 100%;
  display: block;
}

#social {
  position: absolute;
  top: 10px;
  transform: translateX(100%);
  display: none;
}

#social-overlay {
  width: 100%;
  height: 100%;
  background-image: url('/style/img/social-overlay.png');
  background-repeat: repeat-x;
  position: fixed;
  top: 0;
  left: 0;
  display:none;
  z-index: 200;
}

#social-input {
  width: 384px;
  height: 45px;
  font-size: 30px;
  -moz-appearance: none;
  background-image: url('/style/img/trans-pix.png');
  background-color: transparent;
  border: none;
  color: #FFF;
  position: fixed;
  padding-left: 14px;
  top: 240px;
  z-index: 1000;
  display: none;
}

::-moz-placeholder {
  font-weight: normal;
  color: #FFF;  
  opacity: 0.9;
}

body.active #social-input,
body.active #big-active-tile,
body.active #social-overlay {
  display: block;
}