* {
	padding: 0;
	margin: 0;
}

body {
  background-color: transparent;
  text-align: center;
  padding: 20px 0;
}

.tile {
	display: inline-block;
	width: 370px;
	border: 1px solid #000;
	height: 370px;
	margin: auto;
	background: no-repeat center;
	background-size: cover;
	margin-left: 4px;
	background-color: #f0f;
  transition:width 1s, height 1s,
}

body.small-icons .tile {
  width:  232px;
  height: 232px;
}
